/*
 * @file langtests.css
 * CSS for language tests forms.
 */

input,
select {
  border: 1px solid silver;
}

select.correct,
input.correct {
  border: 2px solid green !important;
}

select.mistake,
input.mistake {
  border: 2px solid red !important;
}

font.correct,
.crossword-correct {
  color: green;
}

font.mistake,
.crossword-mistake {
  color: red;
}

.dnd-field {
  background: white;
  border: 1px solid silver;
  cursor: move;
  text-align: center;
}

.ui-state-active {
  background: #ffffc5;
}

.ui-state-dropped {
  background: #ffffa3;
}

td.wordsearch-td {
  height: 25px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}

td.wordsearch-admin-td {
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}

td.wordsearch-out {
  background: white;
}

td.wordsearch-over,
td.wordsearch-hover {
  background: lightGreen;
}

td.wordsearch-admin-out {
  background: silver;
}

td.wordsearch-admin-over,
td.wordsearch-admin-hover {
  background: lightGreen;
}

input.wordsearch-form-text {
  border: 0px !important;
  text-align: center;
  width: 20px;
}

.wordsearch-answers {
  margin: 20px;
}

td.crossword-td {
  background: #4d4d4d;
  border: 1px solid grey;
  height: 25px;
  padding: 1px;
  text-align: center;
  vertical-align: middle;
  width: 30px;
}

td.crossword-field {
  background: white;
}

.form-type-textfield {
  margin: 1px !important;
}

.crossword-pointer {
  font-size: xx-small;
  position: absolute;
}

input.crossword-form-text {
  border: 0px !important;
  text-align: center;
}

.crossword-selected {
  background: #ffffba !important;
}

td.matcher-target {
  padding-left: 24px;
}

td.matcher-source {
  padding-right: 24px;
}

#edit-ldescription {
  float: left;
  width: 45%;
}

.word-count {
  float: right;
  margin-bottom: 1em;
  margin-top: 2px;
  text-align: right;
  width: 45%;
}

.word-type-quest {
  float: left;
  text-align: left;
  width: 75%;
}

.word-type-dn {
  float: right;
  text-align: right;
  width: 20%;
}

#edit-dn {
  margin-right: 0;
}

.word-type-fields {
  clear: both;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

input.type-word {
  height: 3em;
  text-align: center;
  width: 3em;
}

.word-type-letters {
  overflow: hidden;
  padding-bottom: 50px;
  text-align: center;
  width: 100%;
}

.word-type-letter,
.word-type-letter-moved {
  background-color: lightGreen;
  *display: inline;
  display: -moz-inline-stack;
  display: inline-block;
  height: 3em;
  line-height: 3em;
  margin: 5px;
  text-align: center;
  width: 3em;
  zoom: 1;
}

td.word-type-word-correct,
td.word-tr-word-correct {
  color: green;
  font-weight: bold;
}

.form-item-level,
.form-item-target-language,
.form-item-native-language {
  float: left;
  margin-right: 9px !important;
  vertical-align: top !important;
  width: 30%;
}

.lti-type-item {
  float: left;
}

.set-public {
  background-color: #f8fff0;
  border: 1px solid #be7;
  padding: 30px;
}

.langtest-tab {
  background-color: #eceded;
  border: 1px solid #c3c5c6;
  float: left;
  margin: 5px;
  padding: 5px;
}

.langtest-tab-active {
  background-color: #ffffff;
  border: 1px solid #c3c5c6;
  float: left;
  margin: 5px;
  padding: 5px;
}

.langtest-tab-correct {
  background-color: #f8fff0;
  border: 1px solid #be7;
  color: #234600;
  float: left;
  margin: 5px;
  padding: 5px;
}

.langtest-tab-error {
  background-color: #fef5f1;
  border: 1px solid #ed541d;
  color: #8c2e0b;
  float: left;
  margin: 5px;
  padding: 5px;
}

.langtest-tab-correct-active {
  background-color: #ffffff;
  border: 1px solid #be7;
  color: #234600;
  float: left;
  margin: 5px;
  padding: 5px;
}

.langtest-tab-error-active {
  background-color: #ffffff;
  border: 1px solid #ed541d;
  color: #8c2e0b;
  float: left;
  margin: 5px;
  padding: 5px;
}

.langtests-start {
  float: right;
  width: 100px;
}

.langtests_intotal {
  border: 0;
  float: left;
  margin: 20px 20px 20px 0px;
  min-height: 150px;
  min-width: 50px;
  padding: 0;
  text-align: left;
}

.langtests_corr_percent {
  background-color: #f8fff0;
  border: 1px solid #be7;
  color: #234600;
  float: left;
  margin: 20px;
  min-height: 150px;
  min-width: 150px;
  padding: 50px 20px 0px 20px;
  text-align: center;
}

.langtests_incorr_percent {
  background-color: #fef5f1;
  border: 1px solid #ed541d;
  color: #8c2e0b;
  float: left;
  margin: 20px;
  min-height: 150px;
  min-width: 150px;
  padding: 50px 20px 0px 20px;
  text-align: center;
}

span.langtests_corr_digit,
span.langtests_incorr_digit {
  font-size: xx-large;
  font-weight: bold;
}
